*{
    margin:0;
    padding:0;

}
body{
    font-family: 'Poppins', sans-serif;
}

.navbar
{
    background-color:#fd6569 ;
    padding:10px;
}
.container{
    padding:10px;

}
.book-container{
    padding:15px;
    width:30%;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 30px;

}
.book-container h2{
    color: #fd6569;
}
.book-container1{
    padding:15px;
    width:30%;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-left:60%;
    

}
.book-container1 h2{
    color: #fd6569;
}
.book-container2{
    padding:15px;
    width:30%;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin:30px;
    

}
.book-container2 h2{
    color: #fd6569;
}